/*=====================================
 Additional Theme Base CSS
========================================*/

html,
body {
  @apply h-full scroll-smooth;
}

h1[contenteditable='true'] {
  @apply text-huge;
}

p a {
  @apply underline decoration-contrast decoration-2 hover:decoration-secondary focus:decoration-secondary;
}

#primary-menu li a[aria-current='page'] {
  @apply underline decoration-primary decoration-2;
}

::marker {
  @apply text-primary;
}

main {
  @apply flex-auto;
}

.page-template-default main {
  @apply max-w-7xl;
}

.post-template-default main {
  max-width: 90rem;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-secondary;
}

::selection {
  @apply bg-secondary;
}

details[open] svg {
  @apply rotate-90 duration-500;
}

details svg {
  @apply duration-200;
}

address {
  @apply not-italic;
}

/* SETTING SOME DEFAULTS FOR FIGURE / FIGCAPTION */

figure img {
  @apply object-cover;
}

figcaption {
  @apply px-2 text-center;
}

/* SETTING SOME DEFAULTS FOR IFRAME */

iframe {
  @apply mx-auto rounded-md border-[6px] border-white;
}

@media (max-width: 640px) {
  iframe {
    @apply h-full;
  }
}

/* Navigation fix for Safari */

#primary-menu li {
  @apply min-w-fit py-4 lg:px-2 lg:py-0;
}

#primary-menu li a {
  @apply text-sm no-underline hover:text-neutral-dark-100 focus:text-neutral-dark-100;
}

hr {
  @apply border-black;
}

/* Tweak to post-template gap spacing as this cannot be adjusted yet via theme.json */

.wp-block-post-template.is-flex-container {
  @apply gap-12;
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
  width: calc(50% - 1.5rem);
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
  width: calc(33.33333% - 3rem);
}

.blockhaus-hero .wp-block-post-featured-image img {
  @apply aspect-hero h-full;
  /* min-height: 80vh; */
}
