/*=====================================
 Comments CSS
========================================*/

article.comment-body {
  @apply py-2;
}

.comments-content,
.comments-content #comments {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  overflow: hidden;
}

.comments-panel-trigger[aria-expanded='true'] > svg {
  @apply rotate-90 duration-300;
}

.comments-panel-trigger[aria-expanded='false'] > svg {
  @apply rotate-0 duration-300;
}

.comments-content[aria-hidden='false'] {
  grid-template-rows: 1fr;
  overflow: hidden;
}

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-meta {
  @apply mb-5 text-sm;
}

.comment-author.vcard {
  position: relative;
  padding-left: 50px;
}

.comment-author.vcard img {
  @apply absolute left-0 top-1 rounded-full;
}

.comment-metadata {
  margin-left: 50px;
}

.comments-area table {
  border-left: 1px solid #dddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.comments-area table td,
.comments-area table th {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.comments-area th {
  background: #278cc1;
  color: #fff;
}

.comments-area dd {
  margin-bottom: 15px;
}

.comments-area .comments-content ul,
.comments-area .comments-content ol {
  padding-left: 15px;
}

.comments-area .comment-content ul,
.comments-area .comment-content ol {
  padding-left: 15px;
}

.comment-reply-link {
  @apply inline-block w-fit rounded-md bg-contrast px-4 py-1 text-sm text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}

.comment-edit-link {
  @apply ml-2 inline-block w-fit rounded-full bg-neutral-dark-500 px-2 text-tiny text-white hover:bg-contrast focus:bg-contrast;
}

.comment-form-comment label {
  @apply text-sm;
}

.comment-list li.comment {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.comment-metadata {
  @apply text-tiny;
}

.comment-reply-link {
  margin-top: 10px;
}

#reply-title {
  @apply font-black;
}

.comment-list li ol.children {
  padding-left: 50px;
  margin: 0;
  list-style: none;
  margin-top: 25px;
}

.comment-list li ol.children ol.children {
  @apply pl-5;
}

.comment-list li.comment:last-child {
  @apply mb-0 border-b-0 pb-0;
}

.comment-respond,
.comment-form {
  @apply space-y-6;
}

.comment-respond {
  @apply relative mt-8 bg-neutral-light-100 p-8;
}

.logged-in-as {
  @apply absolute right-8 top-8 w-fit rounded-full bg-white px-3 py-1 text-sm;
}

.logged-in-as a,
.logged-in-as .required-field-message {
  @apply pl-1;
}

.comment-notes {
  @apply mb-10;
}

.comment-form label {
  @apply block;
}

.comment-form input,
.comment-form textarea {
  @apply w-full;
}

.comment-form input[type='submit'] {
  @apply inline-block w-fit rounded-md bg-contrast px-6 py-2 text-sm text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}

#wp-comment-cookies-consent {
  @apply h-6 w-6 rounded-full text-primary;
}

form#commentform {
  @apply space-y-6;
}

form p {
  @apply space-y-3 text-sm;
}

.comment-form-cookies-consent {
  @apply flex items-center gap-4 space-y-0 py-6;
}

form#commentform p input[type='text'],
form#commentform p input[type='email'],
form#commentform p input[type='url'],
form#commentform p textarea {
  @apply rounded border border-neutral-light-900;
}
