/* FRONT PAGE */

.grid-hero figure,
.grid-hero figure img {
  @apply h-96 w-full object-cover md:h-full;
}

.grid-hero {
  grid-template-columns: 3fr 3rem 2fr;
  grid-template-rows: 24rem;
}

.grid-hero .hero-content {
  @apply mx-4;
}

@media (min-width: 768px) {
  .grid-hero {
    grid-template-rows: 85vh;
  }
  .grid-hero .hero-content {
    @apply ml-auto mr-20;
  }
}

.tax-contributor .grid article:first-of-type,
.tax-contributor .grid > header {
  @apply col-span-3;
}

.post-type-archive-resource article,
.tax-resource-type article {
  @apply border border-neutral-dark-100 p-12;
}

.blockhaus-search input[type='search'] {
  @apply border border-current px-4 py-1 shadow-retro focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-green-400;
}

.blockhaus-search label {
  @apply sr-only;
}

.blockhaus-search button {
  @apply rounded-full border border-current;
}

iframe {
  @apply mx-auto rounded-md border-[6px] border-white;
}

@media (max-width: 640px) {
  iframe {
    @apply h-full;
  }
}

.blockhaus-blog-posts {
  grid-template-columns: 1fr 3fr;
}

.post-template-grid li {
  @apply m-0 flex flex-col overflow-hidden rounded-md bg-white shadow-md;
}

.post-template-grid li a {
  @apply mt-auto inline-flex;
}

.post-template-grid li h3 {
  @apply leading-6;
}

.post-template-grid li img {
  aspect-ratio: 5/3;
  object-fit: cover;
}

/* POSTS & PAGES */

.is-style-button-retro .wp-block-button__link {
  @apply shadow-retro;
}

.is-style-button-rounded .wp-block-button__link {
  @apply rounded-full;
}

.blockhaus-archive-link .wp-block-button__link:after {
  content: '';
  position: absolute;
  inset: 0;
}

.blockhaus-archive-link .wp-block-button__link:hover:after {
  outline: 4px solid hotpink;
}

.wp-block-button.bg-base:hover {
  @apply bg-transparent;
}

.wp-block-button.bg-base:hover > .wp-block-button__link {
  @apply bg-transparent;
}

/* POST NAVIGATION STYLES */

.post-navigation .nav-links,
.navigation .nav-links {
  @apply my-8 flex justify-between;
}

.single .nav-previous,
.single .nav-next {
  @apply w-2/5 md:w-1/4;
}

.nav-previous a,
.nav-next a {
  @apply flex items-center rounded-full border-primary px-3 py-1 text-sm text-neutral-dark-900 no-underline ring-2 ring-transparent ring-offset-2 transition-all duration-150 hover:ring-primary focus:ring-primary;
}

/* MOBILE NAVIGATION */

nav.toggled > .menu-primary-menu-container > ul#primary-menu {
  transform: translateY(0%);
  transition: 250ms;
}

.menu-toggle[aria-expanded='true'] > svg {
  transform: rotate(-90deg);
  transition: 250ms;
}

/* STICKY HEADER */

header.logo-scale .logo svg {
  height: 2rem;
  transition: 500ms;
}

header .logo svg {
  transition: 500ms;
}

.main-header {
  position: sticky;
}

/* SOCIAL LNKS BLOCKS */

/* .wp-block-social-links.is-style-logos-only .wp-social-link {
  @apply text-contrast;
} */

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
  @apply h-6 w-6 md:h-8 md:w-8;
}

/* FEATURED LINK BLOCK */

.blockhaus-featured-link img {
  @apply w-full;
}

/* FOOTNOTES BLOCK */

#content ol.wp-block-footnotes li {
  @apply py-4;
}

/* blockhaus_people styles */

.archive div[data-block='blockhaus_people'] > div {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

/* switch to flex layout for single-output in sidebar */

.single-output div[data-block='blockhaus_people'] > div,
.single-grant div[data-block='blockhaus_people'] > div {
  @apply flex flex-wrap;
}

/* LOGIN FORM */

form#loginform {
  @apply flex flex-col items-center justify-center gap-6;
}

form#loginform p {
  @apply flex flex-col items-center justify-center gap-2;
}

form#loginform p.login-remember label {
  @apply mt-6 flex cursor-pointer flex-row-reverse items-center gap-2;
}

form#loginform label {
  @apply text-contrast;
}

form#loginform [type='checkbox'] {
  @apply h-6 w-6 rounded-full text-contrast focus:ring-contrast;
}

form#loginform [type='password'],
form#loginform [type='text'] {
  @apply rounded-full border border-neutral-light-500 bg-white py-1 ring-transparent ring-offset-2 focus:ring-2 focus:ring-contrast;
}

form#loginform input#wp-submit {
  @apply inline-block w-fit cursor-pointer rounded-md bg-contrast px-6 py-2 text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}
