/*=====================================
 Blockhaus Utilities CSS
========================================*/

blockquote.is-style-default {
  @apply mx-auto w-fit border-b border-l-0 border-t border-b-current border-t-current p-6 text-center;
}

blockquote.is-style-default p {
  @apply italic;
}

/* PSEUDO STYLES FOR LINKS */

.wp-block-button__link:active,
.wp-block-button__link:visited {
  color: currentColor;
}

a.wp-block-button__link.wp-element-button:hover,
a.wp-block-read-more:hover {
  @apply outline outline-2 outline-offset-2 outline-contrast;
}

/* Home page wp-block-group stylings */

.offset {
  @apply lg:col-start-2 lg:row-start-2;
}

.blockhaus-home-header .inner-text {
  @apply p-0 md:p-14;
}

/* Basic text shadow */

.blockhaus-text-shadow {
  text-shadow: rgb(0 0 0) 3px 0px 0px, rgb(0 0 0) 0.540302px 0.841471px 0px,
    rgb(0 0 0) -0.416147px 0.909297px 0px, rgb(0 0 0) -0.989992px 0.14112px 0px,
    rgb(0 0 0) -0.653644px -0.756802px 0px,
    rgb(0 0 0) 0.283662px -0.958924px 0px, rgb(0 0 0) 0.96017px -0.279415px 0px;
}

.blockhaus-gradient-bg {
  background-image: var(--wp--preset--gradient--gray-to-cyan);
}

.drop-shadow {
  @apply drop-shadow-2xl filter;
}

.balanced {
  max-inline-size: 50ch;
  text-wrap: balance;
}

.highlighted {
  @apply relative flex;
}

.highlighted:after {
  @apply ml-4 h-10 w-10 bg-primary;
  content: '';
  background-size: 70%;
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="M29 37H11V19"%2F%3E%3Cpath d="M11 36.9998L36.4559 11.5439"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  border-radius: 50%;
}

.polka {
  @apply bg-polka bg-polka-size bg-polka-pos;
}
