@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.is-root-container {
  @apply space-y-6;
}

html,
body {
  @apply h-full;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
#site-navigation {
  @apply font-serif;
} */

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

h1[contenteditable='true'] {
  @apply text-huge;
}

p a {
  @apply underline decoration-primary decoration-2 hover:decoration-secondary focus:decoration-secondary;
}

[aria-current='page'] {
  @apply underline decoration-primary decoration-2;
}

main {
  @apply grid flex-auto;
}

.page-template-default main {
  @apply max-w-7xl;
}

.post-template-default main {
  max-width: 90rem;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-secondary;
}

::selection {
  @apply bg-secondary;
}

details[open] svg {
  @apply rotate-90 duration-500;
}

details svg {
  @apply duration-200;
}

/* Navigation fix for Safari */

#primary-menu li {
  @apply py-4 lg:px-4 lg:py-0;
}

#primary-menu li a {
  @apply text-sm hover:text-neutral-dark-100 focus:text-neutral-dark-100;
}

hr {
  @apply border-black;
}

/* Tweak to post-template gap spacing as this cannot be adjusted yet via theme.json */

.wp-block-post-template.is-flex-container {
  @apply gap-12;
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
  width: calc(50% - 1.5rem);
}

.wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li {
  width: calc(33.33333% - 3rem);
}

.blockhaus-hero .wp-block-post-featured-image img {
  @apply aspect-hero h-full;
  /* min-height: 80vh; */
}

#content ul,
#content ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

/* FRONT PAGE */

.blockhaus-gallery
  .wp-block-gallery.has-nested-images
  figure.wp-block-image
  figcaption {
  @apply bg-white bg-none p-1 text-gray-900;
}

#hero-curves {
  @apply z-10 row-start-1 place-self-end;
}

.grid-hero figure,
.grid-hero figure img {
  @apply h-96 w-full object-cover md:h-full;
}

.grid-hero {
  grid-template-columns: 3fr 3rem 2fr;
  grid-template-rows: 24rem;
}

.grid-hero .hero-content {
  @apply mx-4;
}

@media (min-width: 768px) {
  .grid-hero {
    grid-template-rows: 85vh;
  }
  .grid-hero .hero-content {
    @apply ml-auto mr-20;
  }
}

[class*='blockhaus-profile'] img {
  @apply w-full md:w-auto;
}

[class*='blockhaus-quote'] cite {
  @apply max-w-fit rounded-full bg-base px-2;
}

.tax-contributor .grid article:first-of-type,
.tax-contributor .grid > header {
  @apply col-span-3;
}

.post-type-archive-resource article,
.tax-resource-type article {
  @apply border border-neutral-dark-100 p-12;
}

.blockhaus-search input[type='search'] {
  @apply border border-current px-4 py-1 shadow-retro focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-green-400;
}

.blockhaus-search label {
  @apply sr-only;
}

.blockhaus-search button {
  @apply rounded-full border border-current;
}

blockquote {
  position: relative;
  z-index: 1;
}

blockquote::before {
  content: '';
  @apply absolute left-4 top-2 -z-0 inline-block aspect-square h-1/2 rounded-full border-4 border-double border-primary opacity-10 outline-double outline-4 outline-offset-2 outline-primary;
}

iframe {
  @apply mx-auto rounded-md border-[6px] border-white;
}

@media (max-width: 640px) {
  iframe {
    @apply h-full;
  }
}

.blockhaus-blog-posts {
  grid-template-columns: 1fr 3fr;
}

.post-template-grid li {
  @apply m-0 flex flex-col overflow-hidden rounded-md bg-white shadow-md;
}

.post-template-grid li a {
  @apply mt-auto inline-flex;
}

.post-template-grid li h3 {
  @apply leading-6;
}

.post-template-grid li img {
  aspect-ratio: 5/3;
  object-fit: cover;
}

/* POSTS & PAGES */

.is-style-button-retro .wp-block-button__link {
  @apply shadow-retro;
}

.is-style-button-rounded .wp-block-button__link {
  @apply rounded-full;
}

.blockhaus-archive-link .wp-block-button__link:after {
  content: '';
  position: absolute;
  inset: 0;
}

.blockhaus-archive-link .wp-block-button__link:hover:after {
  outline: 4px solid hotpink;
}

.wp-block-button.bg-base:hover {
  @apply bg-transparent;
}

.wp-block-button.bg-base:hover > .wp-block-button__link {
  @apply bg-transparent;
}

/* POST NAVIGATION STYLES */

.post-navigation .nav-links,
.navigation .nav-links {
  @apply my-8 flex justify-between;
}

.nav-next {
  @apply ml-auto;
}

.nav-previous a,
.nav-next a {
  @apply flex items-center rounded-full bg-primary py-1 text-sm text-neutral-dark-900 ring-2 ring-transparent ring-offset-2 transition-all duration-150 hover:ring-primary focus:ring-primary;
}

.single .nav-next a {
  @apply pl-3 pr-1;
}

.single .nav-previous a {
  @apply pl-1 pr-3;
}

.nav-previous a,
.nav-next a {
  @apply px-3;
}

/* MOBILE NAVIGATION */

nav.toggled > .menu-primary-menu-container > ul#primary-menu {
  transform: translateY(0%);
  transition: 250ms;
}

.menu-toggle[aria-expanded='true'] > svg {
  transform: rotate(-90deg);
  transition: 250ms;
}

/* STICKY HEADER */

header.logo-scale .logo svg {
  height: 2rem;
  transition: 500ms;
}

header .logo svg {
  transition: 500ms;
}

.main-header {
  position: sticky;
}

/* SOCIAL LNKS BLOCKS */

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
  @apply h-6 w-6 md:h-8 md:w-8;
}

/* LOGIN FORM */

form#loginform {
  @apply flex flex-col items-center justify-center gap-6;
}

form#loginform p {
  @apply flex flex-col items-center justify-center gap-2;
}

form#loginform p.login-remember label {
  @apply mt-6 flex cursor-pointer flex-row-reverse items-center gap-2;
}

form#loginform label {
  @apply text-contrast;
}

form#loginform [type='checkbox'] {
  @apply h-6 w-6 rounded-full text-contrast focus:ring-contrast;
}

form#loginform [type='password'],
form#loginform [type='text'] {
  @apply rounded-full border border-neutral-light-500 bg-white py-1 ring-transparent ring-offset-2 focus:ring-2 focus:ring-contrast;
}

form#loginform input#wp-submit {
  @apply inline-block w-fit cursor-pointer rounded-md bg-contrast px-6 py-2 text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}
/*=====================================
 Comment Template CSS
========================================*/

article.comment-body {
  @apply py-2;
}

.comments-content,
.comments-content #comments {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  overflow: hidden;
}

.comments-panel-trigger[aria-expanded='true'] > svg {
  @apply rotate-90 duration-300;
}

.comments-panel-trigger[aria-expanded='false'] > svg {
  @apply rotate-0 duration-300;
}

.comments-content[aria-hidden='false'] {
  grid-template-rows: 1fr;
  overflow: hidden;
}

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-meta {
  @apply mb-5 text-sm;
}

.comment-author.vcard {
  position: relative;
  padding-left: 50px;
}

.comment-author.vcard img {
  @apply absolute left-0 top-1 rounded-full;
}

.comment-metadata {
  margin-left: 50px;
}

.comments-area table {
  border-left: 1px solid #dddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.comments-area table td,
.comments-area table th {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.comments-area th {
  background: #278cc1;
  color: #fff;
}

.comments-area dd {
  margin-bottom: 15px;
}

.comments-area .comments-content ul,
.comments-area .comments-content ol {
  padding-left: 15px;
}

.comments-area .comment-content ul,
.comments-area .comment-content ol {
  padding-left: 15px;
}

.comment-reply-link {
  @apply inline-block w-fit rounded-md bg-contrast px-4 py-1 text-sm text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}

.comment-edit-link {
  @apply ml-2 inline-block w-fit rounded-full bg-neutral-dark-500 px-2 text-tiny text-white hover:bg-contrast focus:bg-contrast;
}

.comment-form-comment label {
  @apply text-sm;
}

.comment-list li.comment {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.comment-metadata {
  @apply text-tiny;
}

.comment-reply-link {
  margin-top: 10px;
}

#reply-title {
  @apply font-black;
}

.comment-list li ol.children {
  padding-left: 50px;
  margin: 0;
  list-style: none;
  margin-top: 25px;
}

.comment-list li ol.children ol.children {
  @apply pl-5;
}

.comment-list li.comment:last-child {
  @apply mb-0 border-b-0 pb-0;
}

.comment-respond,
.comment-form {
  @apply space-y-6;
}

.comment-respond {
  @apply relative mt-8 bg-neutral-light-100 p-8;
}

.logged-in-as {
  @apply absolute right-8 top-8 w-fit rounded-full bg-white px-3 py-1 text-sm;
}

.logged-in-as a,
.logged-in-as .required-field-message {
  @apply pl-1;
}

.comment-notes {
  @apply mb-10;
}

.comment-form label {
  @apply block;
}

.comment-form input,
.comment-form textarea {
  @apply w-full;
}

.comment-form input[type='submit'] {
  @apply inline-block w-fit rounded-md bg-contrast px-6 py-2 text-sm text-white ring-transparent ring-offset-2 hover:ring-2 hover:ring-contrast focus:ring-2 focus:ring-contrast;
}

#wp-comment-cookies-consent {
  @apply h-6 w-6 rounded-full text-primary;
}

form#commentform {
  @apply space-y-6;
}

form p {
  @apply space-y-3 text-sm;
}

.comment-form-cookies-consent {
  @apply flex items-center gap-4 space-y-0 py-6;
}

form#commentform p input[type='text'],
form#commentform p input[type='email'],
form#commentform p input[type='url'],
form#commentform p textarea {
  @apply rounded border border-neutral-light-900;
}

/* COOKIES CSS */

.cc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.cc-window.cc-invisible {
  opacity: 0;
}
.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.cc-animate.cc-revoke.cc-top {
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
}
.cc-animate.cc-revoke.cc-bottom {
  -webkit-transform: translateY(2em);
  transform: translateY(2em);
}
.cc-animate.cc-revoke.cc-active.cc-top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cc-animate.cc-revoke.cc-active.cc-bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cc-revoke:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.cc-grower {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}
.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}
.cc-window.cc-static {
  position: static;
}
.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cc-revoke {
  padding: 0.5em;
}
.cc-revoke:hover {
  text-decoration: underline;
}
.cc-header {
  font-size: 18px;
  font-weight: 700;
}
.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer;
}
.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
}
.cc-link:hover {
  opacity: 1;
}
.cc-link:active,
.cc-link:visited {
  color: initial;
}
.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}
.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}
.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline;
}
.cc-close {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.6em;
  opacity: 0.9;
  line-height: 0.75;
}
.cc-close:focus,
.cc-close:hover {
  opacity: 1;
}
.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}
.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}
.cc-top {
  top: 1em;
}
.cc-left {
  left: 1em;
}
.cc-right {
  right: 1em;
}
.cc-bottom {
  bottom: 1em;
}
.cc-floating > .cc-link {
  margin-bottom: 1em;
}
.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}
.cc-window.cc-floating .cc-compliance {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cc-window.cc-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}
.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}
.cc-banner .cc-message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}
.cc-compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.cc-floating .cc-compliance > .cc-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cc-btn + .cc-btn {
  margin-left: 0.5em;
}
@media print {
  .cc-revoke,
  .cc-window {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cc-btn {
    white-space: normal;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait),
  screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-top {
    top: 0;
  }
  .cc-window.cc-bottom {
    bottom: 0;
  }
  .cc-window.cc-banner,
  .cc-window.cc-floating,
  .cc-window.cc-left,
  .cc-window.cc-right {
    left: 0;
    right: 0;
  }
  .cc-window.cc-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cc-window.cc-banner .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .cc-window.cc-floating {
    max-width: none;
  }
  .cc-window .cc-message {
    margin-bottom: 1em;
  }
  .cc-window.cc-banner {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .cc-window.cc-banner .cc-message {
    margin-right: 0;
  }
}
.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.cc-theme-classic .cc-btn {
  border-radius: 5px;
}
.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}
.cc-theme-edgeless.cc-window {
  padding: 0;
}
.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}
.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: 0.8em 1.8em;
  height: 100%;
}
.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}
.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
  margin-left: 0;
}

body.theme_turquoise {
  --cc-bg: #161a1c;
  --cc-text: #d8e5ea;
  --cc-btn-primary-bg: #60fed2;
  --cc-btn-primary-text: #000;
  --cc-btn-primary-hover-bg: #4dd4ae;
  --cc-btn-secondary-bg: #242c31;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #2b353c;
  --cc-toggle-bg-off: #667481;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #343e45;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-cookie-category-block-bg: #1e2428;
  --cc-cookie-category-block-bg-hover: #242c31;
  --cc-section-border: #222a30;
  --cc-block-text: #bac9cf;
  --cc-cookie-table-border: #2b3035;
  --cc-overlay-bg: rgba(4, 6, 8, 0.85);
  --cc-webkit-scrollbar-bg: #2c343a;
  --cc-webkit-scrollbar-bg-hover: #384148;
}

.theme_turquoise .cc_div a {
  color: var(--cc-btn-primary-bg);
}

.theme_turquoise #cc_div #s-hdr {
  border-bottom: none;
}

.theme_turquoise .cc_div #c-txt {
  color: #b0b8c6 !important;
}

body.theme_funky {
  --cc-bg: #f9faff;
  --cc-text: #112954;
  --cc-btn-primary-bg: #3859d0;
  --cc-btn-primary-text: var(--cc-bg);
  --cc-btn-primary-hover-bg: #1d2e38;
  --cc-btn-secondary-bg: #dfe7f9;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #c6d1ea;
  --cc-toggle-bg-off: #8fa8d6;
  --cc-toggle-bg-on: #3859d0;
  --cc-toggle-bg-readonly: #cbd8f1;
  --cc-toggle-knob-bg: #fff;
  --cc-toggle-knob-icon-color: #ecf2fa;
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: #ebeff9;
  --cc-cookie-category-block-bg-hover: #dbe5f9;
  --cc-section-border: #f1f3f5;
  --cc-cookie-table-border: #e1e7f3;
  --cc-overlay-bg: rgba(230, 235, 255, 0.85);
  --cc-webkit-scrollbar-bg: #ebeff9;
  --cc-webkit-scrollbar-bg-hover: #3859d0;
}

.theme_funky #c-ttl {
  color: var(--cc-btn-primary-bg);
}

/* Custom border radius */
.theme_funky #cm,
.theme_funky #s-bl .act .b-acc,
.theme_funky #s-inr,
.theme_funky .cc_div .b-tl,
.theme_funky .cc_div .c-bl {
  border-radius: 1.2em;
}

.theme_funky .cc_div .c-bn {
  border-radius: 0.7em;
}

/* SETTING SOME DEFAULTS FOR FIGURE / FIGCAPTION */

address {
  @apply not-italic;
}

figure img {
  @apply object-cover;
}

figcaption {
  @apply px-2 text-center;
}

blockquote.is-style-default {
  @apply mx-auto w-fit border-b border-l-0 border-t border-b-current border-t-current p-6 text-center;
}

blockquote.is-style-default p {
  @apply italic;
}

/* PSEUDO STYLES FOR LINKS */

.wp-block-button__link:active,
.wp-block-button__link:visited {
  color: var(--wp--preset--color--contrast);
}

/* Basic text shadow */

.blockhaus-text-shadow {
  text-shadow: rgb(0 0 0) 3px 0px 0px, rgb(0 0 0) 0.540302px 0.841471px 0px,
    rgb(0 0 0) -0.416147px 0.909297px 0px, rgb(0 0 0) -0.989992px 0.14112px 0px,
    rgb(0 0 0) -0.653644px -0.756802px 0px,
    rgb(0 0 0) 0.283662px -0.958924px 0px, rgb(0 0 0) 0.96017px -0.279415px 0px;
}

.blockhaus-gradient-bg {
  background-image: var(--wp--preset--gradient--gray-to-cyan);
}
